header{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  margin-top: 0px;
}

h1{
  color:white;
  text-shadow: 2px 0 #02010a;
}

#imagen_central{
  text-align: center;
  background-color: #82c3a6;
  padding: 20px 0px 20px 0px;
  margin-top: 0px;
}

#contenedor_imgs{
    display: flex;
    flex-direction:row;
    padding: 10px;
    background-color: #d5c75f;
    padding: 100px;
}

#contenedor_imgs div{
  text-align: center;
  margin: 10px;
  padding: 20px;
  width: 50%;
}

#contenedor_imgs > div> #B747{
    box-shadow: 2px 2px 0px #82c3a6;
}

#contenedor_imgs > div> #B747:hover{
  transition: 2s;
  transform: rotate(10deg);
}

#contenedor_imgs > div> #f16{
  box-shadow: 2px 2px 0px #82c3a6;
}

#f16:hover {
	transform: translateX(5px);
  transform: translate(20px);
  transition: 2s;
}

@media (min-width:900px){
  footer{
    background-color:  #C6d5c5;
    margin: 0px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
  }

  .contenedor{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }

  .contacto{
    width: 25%;
    margin: 0%;
    text-align: center;
  }

  .terminos{
    width: 25%;
    margin: 0%;
    text-align: center;
  }

  .redes{
    width: 25%;
    margin: 0%;
    text-align: center;
  }

  .derechos{
    width: 25%;
    margin: 0%;
    text-align: center;
  }

}


@media (max-width:900px){
  footer{
      background-color:  #C6d5c5;
      margin: 0px;
      padding: 10px;
      border-radius: 0px 0px 10px 10px;
    }

    .contenedor>div{
      text-align: center;
    }

    .contacto{
      width: 25%;
      margin: 0%;
      text-align: center;
    }

    .terminos{
      width: 25%;
      margin: 0%;
      text-align: center;

    }

    .redes{
      width: 25%;
      margin: 0%;
      text-align: center;

    }

    .derechos{
      width: 25%;
      margin: 0%;
      text-align: center;

    }


  }

}
