header{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  margin-top: 0px;
}

@media (min-width:900px) {
  .navegacion{
    float: right;
    text-align: center;
    color: white;
  }
}

@media (max-width:900px) {
  .navegacion{
    text-align: center;
    color: white;
  }
  h1{
    text-align: center;
  }
}

h1{
  color:white;
  text-shadow: 2px 0 #02010a;
}

#imagen_central{
  text-align: center;
  background-color: #82c3a6;
  padding: 20px 0px 20px 0px;
  margin-top: 0px;
}

@media (min-width:900px) {
  #contenedor_imgs{
      display: flex;
      flex-direction:row;
      padding: 10px;
      background-color: #d5c75f;
      padding: 100px;
  }
}

@media (max-width:900px) {
 #contenedor_imgs{
 display: flex;
 flex-flow:row wrap;
 margin: 0px;
 background-color: #d5c75f;
 width: 100%;
 padding: 0px;
 text-align: center;
      }

  .imagenes_secundarias #B747 {
    text-align: center;
    width: 100%;
  }

  #contenedor_imgs div{
        text-align: center;
        margin: 10px;
        padding: 20px;
        width: 100%;
      }


  #contenedor_imgs > div> #B747{
  order: 1;
  width: 100%;
  padding: 0px;
  text-align: center;
 }

 #contenedor_imgs > div> #F16{
  order: 2;
  padding: 0px;
  width: 100%;
  text-align: center;
 }

}



#contenedor_imgs div{
  text-align: center;
  margin: 10px;
  padding: 20px;
  width: 50%;
}

#contenedor_imgs > div> #B747{
    box-shadow: 2px 2px 0px #82c3a6;
}

#contenedor_imgs > div> #B747:hover{
  transition: 2s;
  transform: rotate(10deg);
}

#contenedor_imgs > div> #f16{
  box-shadow: 2px 2px 0px #82c3a6;
}

#f16:hover {
	transform: translateX(5px);
  transform: translate(20px);
  transition: 2s;
}

@media (min-width:900px){
  footer{
    background-color:  #C6d5c5;
    margin: 0px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
  }

  .contenedorpr{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }

  .contacto{
    width: 25%;
    margin: 0%;
    text-align: center;
  }

  .terminos{
    width: 25%;
    margin: 0%;
    text-align: center;
  }

  .redes{
    width: 25%;
    margin: 0%;
    text-align: center;
  }

  .derechos{
    width: 25%;
    margin: 0%;
    text-align: center;
  }

}


@media (max-width:900px){
  footer{
      background-color:  #C6d5c5;
      margin: 0px;
      padding: 10px;
      border-radius: 0px 0px 10px 10px;
    }

    .contenedorpr{
      text-align: center;
    }

    .contacto{
      width: 100%;
      margin: 0%;
      text-align: center;
    }

    .terminos{
      width: 100%;
      margin: 0%;
      text-align: center;

    }

    .redes{
      width: 100%;
      margin: 0%;
      text-align: center;

    }

    .derechos{
      width: 100%;
      margin: 0%;
      text-align: center;

    }


  }

}
